<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>WanderLog 需要获取你的位置，以便自动填写打卡城市和国家</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>WanderLog 需要访问你的相册，以便添加打卡照片</string>
</dict>
</plist>
